<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save - Persona</title>

<!--  Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
	<br>
		<h2>Agregar personas</h2>
		<form action="#" th:action="@{/save}" th:object="${persona}" method="post">
			<!-- Nombre de la persona -->
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre"> 
			</div>
			<!-- Correo de la persona -->
			<div class="form-group">
				<label for="nombre">Correo</label>
				<input type="text" class="form-control" id="correo" th:field="*{correo}" name="correo"> 
			</div>
				<!-- Nacionalidad de la persona -->
			<div class="form-group">
				<label for="nombre">Nacionalidad</label>
				<input type="text" class="form-control" id="nacionalidad" th:field="*{nacionalidad}" name="nacionalidad"> 
			</div>
			<!-- Guardar datos -->
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html> 